body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#gameCanvas {
    background: grey;
}

.car {
    width: 30px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    background: #00f;
}

.obstacle {
    width: 30px;
    height: 60px;
    position: absolute;
    background: #f00;
}

